body{
    margin: 0;
    padding: 0;

}

.fy h1{
    background-color: black;

    color: #ffc404;
    padding-top: 2%;
    font-size: 26px;
    padding-bottom: 10px;
	padding : 10px;
}

.fy{
    width: 30%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    margin: 8% auto 0;
    text-align: center;
}

form {
    padding-left: 20%;
    padding-right: 20%;
	padding-top : 10px;
}



.input-box{
    padding: 10px;
    margin: 5px 0;
    width:  200px;
    outline: none;
}

.login-btn{
;
    color: black;
    padding: 10px;  
    border:none;
    cursor: pointer;
}